*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.sec{
    border-bottom: 1px solid black;
    padding: 10px;
}

.sec h3{
    text-align: center;
    margin-bottom: 10px;
}

.header{
    padding: 20px;
    align-items: top;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.header img{
    width: 300px;
}

.contacts ol{
    padding-left: 20px;
}

.contacts ol li{
    margin-top: 5px;
}

.skill ul{
    margin-left: 20px;
}
.resec{
    border-bottom: none;
}